.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3.125rem;
}

.nav {
	max-width: 1024px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.list {
	display: flex;
	gap: 30px;
}

.item {
	font-size: 1rem;
	color: black;
}

.auth {
	display: flex;
	gap: 1rem;
}
