.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 0 1 24%;
	width: 100%;
	min-height: 200px;
	gap: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	padding: 15px;
	background: white;
}
